
body {
    background-color: white;
    color: black;
}

.output {
    border: solid #CCCCCC 1px;
    margin: 0.5em;
    padding: 0.2em;
}

.stdout {
    color: black;
}

.stderr {
    color: red;
}

.panic {
    color: purple;
}

.success {
    background-color: lime;
}

.failure {
    background-color: red;
}

.incomplete {
    background-color: yellow;
}

.missing {
    color: purple;
}

.summary, .result {
    color: blue;
    border: solid #CCCCCC 1px;
    margin: 0.2em;
    padding: 0.2em;
}

.nonwrapped {
    white-space: nowrap;
}

