a {
    color: hsl(220, 100%, 20%);
}

body {
    background-color: white;
    color: black;
}

.output {
    border: solid #ddd 1px;
    margin: 0.5em;
    padding: 0.2em;
}

.stdout {
    color: black;
}

.stderr {
    color: hsl(0, 90%, 20%);
}

.panic {
    color: purple;
}

.success {
    background-color: hsl(120, 65%, 85%);
}

.failure {
    background-color: hsl(0, 65%, 85%);
}

.incomplete {
    background-color: hsl(60, 65%, 85%);
}

td {
    border: none;
    padding: 0.3em 0.1em;
}

.missing {
    color: purple;
}

.summary, .result {
    color: blue;
    border: solid #ddd 1px;
    margin: 0.2em;
    padding: 0.2em;
}

.nonwrapped {
    white-space: nowrap;
}

